{% load static %}
<html>
<head>
    <title>Home</title>
    
   
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'user/nav.css' %}">  
    <link rel="stylesheet" href="{% static 'user/blog.css' %}">
    <script src="https://kit.fontawesome.com/196c976218.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>    
<body>

    <div id="wrapper" class="toggled">

        <aside id="sidebar-wrapper">
           <h2 style="color:white; margin-left:5px; margin-top: 10px;"><img src="{% static 'user/logoo.gif' %}" alt="logo" width="70px" height="50px"></h2>
          <div class="sidebar-brand">
           <h2>CRYPTOS</h2>
          </div>
          <ul class="sidebar-nav">
            <li style="background-color: black; margin-bottom: 20px;">
              <text style="color: white; margin-left: 50px;">Main Menu</text>
            </li>
            <li class="active">
              <a href="{% url 'home page' %}"><i class="fa fa-home"></i><text style="color: orange;">Home</text></a>
            </li>
            <li class="active">
                    <a href="{% url 'analysis page' %}"><i class="fa fa-bar-chart" aria-hidden="true"></i><text style="color: orange;">Analysis</text></a>
                  </li>
            <li class="active">
              <a href="{% url 'discussionListPage' %}"><i class="fas fa-users"></i><text style="color: white;">Discussion Forum</text></a>
            </li>
            <li class="active">
              <a href="{% url 'mainnews' %}"><i class="far fa-newspaper"></i><text style="color: white;">News</text></a>
            </li>
            <li class="active">
                <a href="{% url 'blogListPage' %}"><i class="fas fa-feather-alt"></i><text style="color: white;">Blog</text></a>
              </li>
              <li class="active">
                <a href="{% url 'currency converter' %}"><i class="fas fa-money-check-alt"></i><text style="color: white;">Converter</text></a>
              </li>
          </ul>
        </aside>

        <div id="navbar-wrapper">
          <nav class="navbar ">
            <div class="container-fluid">
              <div class="navbar-header">
                <a href="#" class="navbar-brand" id="sidebar-toggle" ><i class="fas fa-bars"></i></a>
                <a href="{% url 'home page' %}" class="navbar-brand" id="sidebar-toggle" style="text-decoration: none;" ><text style="font-size:15px; margin: 0 15px 0 15px;"><abbr title="HOME"><i class="fas fa-home"></i></abbr></text></a>
                <a href="{% url 'mainnews' %}" class="navbar-brand" id="sidebar-toggle" style="text-decoration: none;"><text style="font-size:15px; margin: 0 15px 0 15px;"><abbr title="NEWS"><i class="far fa-newspaper"></i></abbr></text></a>
                <a href="{% url 'discussionListPage' %}" class="navbar-brand" id="sidebar-toggle" style="text-decoration: none;"><text style="font-size:15px; margin: 0 15px 0 15px;"><abbr title="Discussion Forum"><i class="fas fa-users"></i></abbr></text></a>
                {% if request.user.username is not None %}
                <a href="#" style="color: white; float: right;" class="navbar-brand" id="sidebar-toggle" style="text-decoration: none;">{{request.user.username}}</a>
                <a href="{% url 'logoutPage' %}" class="navbar-brand" id="sidebar-toggle" style="text-decoration: none;"><text style="font-size:15px; margin: 0 15px 0 15px; float: right;">Logout</text></a>
                {% else %}
                <a href="{% url 'loginPage' %}" class="navbar-brand" id="sidebar-toggle" style="text-decoration: none;"><text style="font-size:15px; margin: 0 15px 0 15px; float: right;">Login/SignUp</text></a>
                {% endif %}
               
              </div>
            </div>
          </nav>
        </div>

        <section id="content-wrapper">
            <div class="row">
              <div class="col-lg-12">

                  </div>
            </div>
        </section>

      </div>
    <center>
        {% block content %}
        <link href="{% static 'user/pace-theme-flash.css' %}" rel="stylesheet" type="text/css" media="screen">
        <link href="{% static 'user/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
            <link href="{% static 'user/home.css' %}"  rel="stylesheet" type="text/css">
            <link href="{% static 'user/1.css' %}"  rel="stylesheet" type="text/css">
            <script src="https://kit.fontawesome.com/196c976218.js" crossorigin="anonymous"></script>
            {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-{{ msg.tags }}">
                <p style="color: rgb(219, 95, 13);">{{msg}}</p>
                </div>
            
        {% endfor %}
    {% endif %}
    
    <section id="main-content">
              
    
      <div class="col-xs-12">
          <div class="page-title">
    
              <div class="pull-left">
                 
                  <h1 class="title">Top Trending Cryptocurrencies</h1>
            
              </div>
    
          </div>
      </div>
      <div class="col-lg-12">
          <section class="box nobox marginBottom0">
              <div class="content-body">
                  <div class="row">
                      <div class="col-lg-4 col-sm-6 col-xs-12">
                          <a href="http://localhost:8000/">
                            {% if not 'litecoin' in request.get_full_path and not 'ethereum' in request.get_full_path %}
                            <div class="r4_counter db_box has-gradient-to-right-bottom">
                                {% else %}
                                <div class="r4_counter db_box">
                                {% endif %}
                              <div class="icon-after cc BTC-alt"></div>
                              <i class="pull-left cc BTC-alt icon-md icon-white mt-10"></i>
                              <div class="stats">
                                  <h3 class="color-white mb-5" style="color: white;">${{first}} BTC</h3>
                                  
                              </div>
                          </div></a>
                      </div>
                      <div class="col-lg-4 col-sm-6 col-xs-12">
                          <a href="http://localhost:8000/coin/ethereum">
                            {% if 'ethereum' in request.get_full_path %}
                            <div class="r4_counter db_box has-gradient-to-right-bottom">
                                {% else %}
                                <div class="r4_counter">
                                {% endif %}
                              <div class="icon-after cc DASH-alt"></div>
                              <i class="pull-left cc DASH-alt icon-md icon-primary mt-10"></i>
                              <div class="stats">
                                  <h3 class="mb-5" style="color: white;">${{second}} ETH</h3>
                                 
                              </div>
                          </div></a> 
                      </div>
                      <div class="col-lg-4 col-sm-6 col-xs-12">
                            <a href="http://localhost:8000/coin/litecoin">
                                {% if 'litecoin' in request.get_full_path %}
                                <div class="r4_counter db_box has-gradient-to-right-bottom">
                                    {% else %}
                                    <div class="r4_counter">
                                    {% endif %}
                              <div class="icon-after cc LTC-alt"></div>
                              <i class="pull-left cc LTC-alt icon-md icon-primary mt-10"></i>
                              <div class="stats">
                                  <h3 class="mb-5" style="color: white;">${{third}} LTC</h3>
                                
                              </div>
                          </div></a>
                      </div>
    
                  </div>
                  <!-- End .row -->
              </div>
          </section>
      </div>
    
      <div class="col-lg-8">
          <section class="box" style="overflow:hidden">
              <header class="panel_header">
                  <h2 class="title pull-left">Prediction Chart</h2>
                  
              </header>
              <div class="content-body">
                  <div class="row">
                      <div class="col-xs-12">
                         <img src="data:image/png;base64, {{chart|safe}}" width="700px" height="400px"></img>
                      </div>
                  </div>
              </div>
          </section>
      </div>
      <br>
     
    
    </section>
    <br>
    <div style="margin-top: 20%; background-color: white; width: 20%; height: 20%; margin-left: 70%;">
    
      <h3 style="color:orange"><img src="{% static 'user/nw1.gif' %}" width="100px" height="100px"><i><u>NEWS</u></i></h3>
      <a href="http://localhost:8000/coinnews/{{name}}" style="text-decoration: none;"><h4 style="color: orange;"><i><b>News Realted To {{name}}</b></i></h4></a>
    </div>
      
      
    <div style=" height: auto;">
      <table class="tab">
        <thead>
            <tr>
                <th><h1 class="vv">name</h1></th>
                <th><h1 class="vv">Price $</h1></th>
                <th><h1 class="vv">High Price $</h1></th>
                <th><h1 class="vv">Low Price $</h1></th>
                <th><h1 class="vv">Prediction Price $</h1></th>
                <th><h1 class="vv">Rank</h1></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="yy"><img src="{{image}}" width="30px" height="30px"> {{name}}</td>
                <td class="yy"><b style="color: white;">{{current_price}}</b></td>
                <td class="yy"><b style="color: white;">{{high_price}}</b></td>
                <td class="yy"><b style="color: white;">{{low_price}}</b></td>
                <td class="yy"><b style="color: white;">{{predict_price}}</b></td>
                <td class="yy"><b style="color: white;">{{market_rank}}</b></td>
            </tr>
            
        </tbody>
    </table>
    </div>
    <div style="margin-top: 5%; margin-left:-15%; width: 50%; height: auto; border: 1px orange solid; border-radius: 10px;">
      
      
      
      <div>
        <h2 style="color:white; margin-left: -80%;">About:</h2>
      <h5 style="color:rgb(189, 189, 189); margin-left: 15; text-align: left;"><i>
          {{about}}
        <br>
        </i>
        <p class="read-more">
        <a href="https://en.wikipedia.org/wiki/{{name}}" target="_blank">Read More</a>
      </p>
      </h5>
    </div>
    
  </div>
      <br>
      
      
    
      
        {% endblock %}
    <center>
</body>
<script src="{% static 'user/nav.js' %}"></script>
</html> 