{% load static %}
<html>
<head>
    <title>Home</title>
    
   
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'user/nav.css' %}">  
    <link rel="stylesheet" href="{% static 'user/blog.css' %}">
    <script src="https://kit.fontawesome.com/196c976218.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>    
<body>

    <div id="wrapper" class="toggled">

        <aside id="sidebar-wrapper">
           <h2 style="color:white; margin-left:5px; margin-top: 10px;"><img src="{% static 'user/logoo.gif' %}" alt="logo" width="70px" height="50px"></h2>
          <div class="sidebar-brand">
           <h2>CRYPTOS</h2>
          </div>
          <ul class="sidebar-nav">
            <li style="background-color: black; margin-bottom: 20px;">
              <text style="color: white; margin-left: 50px;">Main Menu</text>
            </li>
            <li class="active">
              <a href="{% url 'home page' %}"><i class="fa fa-home"></i><text style="color: orange;">Home</text></a>
            </li>
            <li class="active">
              <a href="{% url 'prediction' %}"><i class="fas fa-chart-line"></i><text style="color: white;">Prediction And Analysis</text></a>
            </li>
            <li class="active">
              <a href="{% url 'discussionListPage' %}"><i class="fas fa-users"></i><text style="color: white;">Discussion Forum</text></a>
            </li>
            <li class="active">
              <a href="{% url 'mainnews' %}"><i class="far fa-newspaper"></i><text style="color: white;">News</text></a>
            </li>
            <li class="active">
                <a href="{% url 'blogListPage' %}"><i class="fas fa-feather-alt"></i><text style="color: white;">Blog</text></a>
              </li>
              <li class="active">
                <a href="{% url 'currency converter' %}"><i class="fas fa-money-check-alt"></i><text style="color: white;">Converter</text></a>
              </li>
          </ul>
        </aside>

        <div id="navbar-wrapper">
          <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a href="#" class="navbar-brand" id="sidebar-toggle" ><i class="fas fa-bars"></i></a>
                <a href="{% url 'home page' %}" class="navbar-brand" id="sidebar-toggle" style="text-decoration: none;" ><text style="font-size:15px; margin: 0 15px 0 15px;"><abbr title="HOME"><i class="fas fa-home"></i></abbr></text></a>
                <a href="{% url 'mainnews' %}" class="navbar-brand" id="sidebar-toggle" style="text-decoration: none;"><text style="font-size:15px; margin: 0 15px 0 15px;"><abbr title="NEWS"><i class="far fa-newspaper"></i></abbr></text></a>
                <a href="{% url 'discussionListPage' %}" class="navbar-brand" id="sidebar-toggle" style="text-decoration: none;"><text style="font-size:15px; margin: 0 15px 0 15px;"><abbr title="Discussion Forum"><i class="fas fa-users"></i></abbr></text></a>
                {% if request.user.username is not None %}
                <a href="#" style="color: white; float: right;" class="navbar-brand" id="sidebar-toggle" style="text-decoration: none;">{{request.user.username}}</a>
                <a href="{% url 'logoutPage' %}" class="navbar-brand" id="sidebar-toggle" style="text-decoration: none;"><text style="font-size:15px; margin: 0 15px 0 15px; float: right;">Logout</text></a>
                {% else %}
                <a href="{% url 'loginPage' %}" class="navbar-brand" id="sidebar-toggle" style="text-decoration: none;"><text style="font-size:15px; margin: 0 15px 0 15px; float: right;">Login/SignUp</text></a>
                {% endif %}
               
              </div>
            </div>
          </nav>
        </div>

        <section id="content-wrapper">
            <div class="row">
              <div class="col-lg-12">

                  </div>
            </div>
        </section>

      </div>
    <center>
        {% block content %}
        {% if messages %}
    {% for msg in messages %}
        <div class="alert alert-{{ msg.tags }}">
            <p style="color: rgb(219, 95, 13);">{{msg}}</p>
            </div>
        
    {% endfor %}
{% endif %}
            <div><h1>home page</h1></div>
      
        {% endblock %}
    <center>
</body>
<script src="{% static 'user/nav.js' %}"></script>
</html> 