{% load static %}
{% extends 'user/base.html' %}
{% block content %}
<link rel="stylesheet" href="{% static 'user/blog.css' %}">

          <div class="blog-card">
            <div class="meta">
              <div class="photo" style="background-image: url(blog1.jpg)"></div>
              <ul class="details">
                <li class="author"><a href="#">Tushar</a></li>
                <li class="date">Dec. 12, 2021</li>
                <li class="tags">
                  <ul>
                    <li><a href="#">Invest</a></li>
                    <li><a href="#">digital</a></li>
                    <li><a href="#">currency</a></li>
                    <li><a href="#">guide</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="description">
              <h1>10 tips to invest in crypto</h1>
              <h2>Opening a door to the future</h2>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
              <p class="read-more">
                <a href="#">Read More</a>
              </p>
            </div>
          </div>
          <div class="blog-card alt">
            <div class="meta">
              <div class="photo" style="background-image: url(blog2.jpg)"></div>
              <ul class="details">
                <li class="author"><a href="#">Vedant</a></li>
                <li class="date">Dec. 12, 2021</li>
                <li class="tags">
                  <ul>
                    <li><a href="#">bitcoin</a></li>
                    <li><a href="#">crpto</a></li>
                    <li><a href="#">price</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="description">
              <h1>All About Bitcoin</h1>
              <h2>Bitcoin is the most poptlar Cryptocurrency</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
              <p class="read-more">
                <a href="#">Read More</a>
              </p>
            </div>
          </div>

          {% endblock %}