{% extends 'user/base.html' %}
{% load static %}
{% block content %}
    <form class = "shadow-pop-tr" action="/user/login/" method="POST">
      {% csrf_token %}
        <table class="tt" cellpadding="0">
            <tr>
                <th ><img src="{% static 'user/a.png' %}" alt="abc" id="img"></th>
                <th><h3>SIGN IN NOW...</h3>
                    <!--<h6>Please enter your data to register</h6></th>-->
                
            </tr>
            <tr></tr>
        </table>
        <center>
            <div class='g-sign-in-button'>
                <div class=content-wrapper>
                    <div class='logo-wrapper'>
                      <a href="/accounts/google/login/?process=login"><img src='{% static "user/g-logo.png" %}'></a>
                    </div>
                    <span class='text-container'>
                  <span >Sign in with Google</span>
                </span>
                </div>
            </div>
            <br><br><br>

            <label></label>OR</label>
            
        <table class="pad" cellspacing="10">
            
            <tr>
                <td>USERNAME: <br><input type="text" name="username" ></td>
                <td>PASSWORD:<br> <input type="text" name="password" ></td>
            </tr>
            <tr>
                <td>
                    <table >
                        <tr>
                          <td><button class="button" style="vertical-align:middle"><span><i>Done </i></span></button></td>
                         
                            <!--<td><input type="button" name="login" value="Login" class="log"></td>-->
                            
                           
                        </tr>
                    </table>
                </td>
               
                <td><a href="{% url 'registerPage' %}"><input type="button" name="register" value="Register" class="reg"></a></td>
            </tr>
        </table>
    </center>
    </form>
  {% endblock %}