{% extends 'user/base.html' %}
{% load static %}
{% block content %}
    <form class = "shadow-pop-tr" action="/user/register/" method="POST">
      {% csrf_token %}
        <table class="tt">
            <tr>
                <th ><img src="{% static 'user/a.png' %}" alt="abc" id="img"></th>
                <th><h3>SignUp Now...</h3></th>
                
            </tr>
        </table>
        <center>
           
            
        <table class="pad" cellspacing="10">
            <tr>
                <td>FIRST NAME:<br> <input type="text" name="firstname" ></td>

                <td>LAST NAME: <br><input type="text" name="lastname" ></td>
            </tr>
            <tr>
                <td>USERNAME*: <br><input type="text" name="username"  required></td>
                <td>EMAIL*:<br> <input type="text" name="email"  required></td>
            </tr>
            <tr>
                <td>PASSWORD*:<br> <input type="text" name="password"  required></td>
                <td>REPEAT PASSWORD*:<br> <input type="text" name="conpassword"  required></td>
            </tr>
            <tr>
                <td>
                    <table >
                        <tr>
                          <td><button class="button" style="vertical-align:middle"><span><i>Done </i></span></button></td>
                            <!--<td><input type="button" name="register" value="Register"></td>-->
                          
                            
                           
                        </tr>
                    </table>
                </td>
              
                <td><a href="{% url 'loginPage' %}"><input type="button" name="login" value="Login"></a></td>
            </tr>
        </table>
    </center>
    </form>
  {% endblock %}