{% extends "user/base.html" %}
{% load static %}
      
      {% block content %}
      
      <link rel="stylesheet" href="{%  static  'user/cal.css'  %}">
      
      <h1 style="color: orange;">Exchange Rate Calculator</h1>
          <p style="color: rgb(201, 201, 201);">Choose the currency and the amounts to get the exchange rate</p>
          <center>
          <div class="container">
           
          <form action="" method="POST">
        {% csrf_token %}
      
      <div class="currency">
        <label style="margin-left: -80%; color: orange; font-size: 25px;">Select Crypto Currency:</label><br><br>
          <select id="currency-one" name="crypto">
      
            {% if  request.session.currency == 'bitcoin' %}
      
                <option value="bitcoin">Bitcoin</option>
                <option value="ethereum">Ethereum</option>
                <option value="dogecoin">Dogecoin</option>
                <option value="litecoin">Litecoin</option>
      
            {% endif  %}
      
            {% if request.session.currency == 'ethereum' %}
      
                <option value="ethereum" >Ethereum </option>
                <option value="bitcoin">Bitcoin</option>
                <option value="dogecoin">Dogecoin</option>
                <option value="litecoin">Litecoin</option>
      
            {% endif  %}
      
            {% if  request.session.currency == 'dogecoin' %}
      
                <option value="dogecoin">Dogecoin</option>
                <option value="ethereum">Ethereum</option>
                <option value="bitcoin">Bitcoin </i></option>
                <option value="litecoin">Litecoin</option>
      
            {% endif  %}
      
            {% if  request.session.currency == 'litecoin' %}
      
                <option value="litecoin">Litecoin</option>
                <option value="dogecoin">Dogecoin</option>
                <option value="ethereum">Ethereum</option>
                <option value="bitcoin">Bitcoin </option>
      
            {% endif  %}
            <input type="text" name="cryptoValue" value="{{request.session.currencyvalue}}" style="margin-left: 10%;">
            <br>
      </select>
      </div>
      <div class="currency">
          <label style="margin-left: -85%; color: orange; font-size: 25px;" >Select Fiat currency:</label><br><br>
          <select id="currency-two" name="country">
      
            {% if  request.session.country == 'inr' %}
              <option value="inr">Indian Rupee </option>
              <option value="usd">United States Dollar </option>
              <option value="gbp">British Pound </option>
              <option value="rub">Russian Ruble </option>
            {% endif  %}
      
            {% if  request.session.country == 'usd' %}
              <option value="usd">United States Dollar</option>
              <option value="inr">Indian Rupee</option>
              <option value="gbp">British Pound</option>
              <option value="rub">Russian Ruble</option>
            {% endif  %}
      
            {% if  request.session.country == 'gbp' %}
              <option value="gbp">British Pound</option>
              <option value="usd">United States Dollar</option>
              <option value="inr">Indian Rupee</option>
              <option value="rub">Russian Ruble</option>
            {% endif  %}
      
            {% if  request.session.country == 'rub' %}
              <option value="rub">Russian Ruble</option>
              <option value="inr">Indian Rupee</option>
              <option value="gbp">British Pound</option>
              <option value="usd">United States Dollar</option>
            {% endif  %}
            
            </select>
            <input type="text" name="countryValue" value="{{request.session.countryvalue}}" style="margin-left: 10%;">
          </div>
           
            <br><br><br>
            <input type="submit" value="Calculate" class="but">
          </form>
          </div>
        </center>
            
             
      
              
           
      {% endblock %}
         
